@using Microsoft.AspNetCore.Components.Authorization
<div style="width: 100%;">
    <AuthorizeView>
        <Authorized>
            <a href="Identity/Account/Manage">@context.User.Identity?.Name!</a>
            <form method="post" action="Identity/Account/Logout">
                <button type="submit" class="nav-link btn btn-link">Log out</button>
            </form>
        </Authorized>
        <NotAuthorized>
            Not logged in<br/>
            <a href="Identity/Account/Register">Register</a> · <a href="Identity/Account/Login">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>