@using LogiEdge.WarehouseService.Data
@using LogiEdge.WarehouseService.Persistence
@using LogiEdge.WebUI.Warehouse.Components.WarehouseItemTable
@code {
    [Parameter]
    public required Func<WarehouseDbContext, IQueryable<Item>> ItemsQueryableFactory { get; set; }

    [Parameter]
    public required ItemsTableColumnDisplayParameters ColumnDisplayParameters { get; set; }
    [Parameter]
    public EventCallback<ItemsTableColumnDisplayParameters> ColumnDisplayParametersChanged { get; set; }

    [Parameter]
    public required ItemsTableFilterParameters FilterParameters { get; set; }
    [Parameter]
    public EventCallback<ItemsTableFilterParameters> FilterParametersChanged { get; set; }

    [Parameter]
    public required ItemsTableSortParameters SortParameters { get; set; }
    [Parameter]
    public EventCallback<ItemsTableSortParameters> SortParametersChanged { get; set; }
}

@{
    RenderFragment<(Item item, ItemState itemState, OrderedDictionary<string, object?> properties)> tableRowRenderFragment =
        data => __builder =>
        {
            <tr>
                <td>
                    <button type="button" class="btn btn-primary">
                        <span class="material-symbols-rounded">
                            ink_selection
                        </span>
                    </button>
                </td>
                @foreach ((string propertyName, object? propertyValue) in data.properties)
                {
                    <td>
                        <PropertyValueComponent PropertyValue="@propertyValue"/>
                    </td>
                }
            </tr>
        };
}

<WarehouseItemTableComponent ItemsQueryableFactory="ItemsQueryableFactory"
                             ColumnDisplayParameters="ColumnDisplayParameters"
                             ColumnDisplayParametersChanged="ColumnDisplayParametersChanged"
                             FilterParameters="FilterParameters"
                             FilterParametersChanged="FilterParametersChanged"
                             SortParameters="SortParameters"
                             SortParametersChanged="SortParametersChanged"
                             TableRowRenderFragment="tableRowRenderFragment" />