@using LogiEdge.BaseService.Data
@using LogiEdge.BaseService.Services
@using LogiEdge.WarehouseService.Data.Transactions
@using LogiEdge.WarehouseService.Persistence
@using LogiEdge.WebUI.DocumentGenerator.Components
@using LogiEdge.WebUI.Warehouse.Components.Transaction.Inbound
@using LogiEdge.WebUI.Warehouse.Components.Transaction.Outbound
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<WarehouseDbContext> WarehouseDbContextFactory
@inject FileAttachmentService FileAttachmentService

@code {
    [Parameter]
    public required Guid TransactionId { get; set; }

    private InventoryTransaction? Transaction { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        await using WarehouseDbContext ctx = await WarehouseDbContextFactory.CreateDbContextAsync();

        Transaction = await ctx.InventoryTransactions
            .Include(t => t.InboundTransactionPart)
            .Include(t => t.OutboundTransactionPart)
            .FirstOrDefaultAsync(t => t.Id == TransactionId);
    }

    private async Task DocumentGeneratorComponentOnSaveRequested(FileAttachment att)
    {
        if (Transaction == null)
            return;

        att = await FileAttachmentService.CreateAttachmentAsync(att);

        await using WarehouseDbContext ctx = await WarehouseDbContextFactory.CreateDbContextAsync();
        ctx.Attach(Transaction);

        Transaction.AttachmentIds.Add(att.Id);

        await ctx.SaveChangesAsync();
    }
}

@if (Transaction == null)
{
    <p>Transaction with ID @TransactionId could not be found.</p>
    return;
}

@if (Transaction.State != TransactionState.BOOKED)
{
    <p>Unexpected transaction state: @Transaction.State</p>
}

<div class="header">
    <span class="text-muted">Transaction · Created: <span class="text-dark">@Transaction.CreatedDate</span> · Booked: <span class="text-dark">@Transaction.BookedDate</span></span>
    <h3 class="m-0">
        @Transaction.Title
    </h3>
</div>

<div class="content">
    <HxTabPanel ActiveTabId="overview" Variant="TabPanelVariant.Card">
        <HxTab Id="overview" Title="Overview">
            <Content>
                <div>
                    <h5>Documents & Attachments</h5>
                    <DocumentGeneratorComponent TInputType="InventoryTransaction" 
                                                InputData="Transaction"
                                                OnFileAttachmentSaveRequested="DocumentGeneratorComponentOnSaveRequested" />
                    <hr />
                    <TransactionFileAttachmentManagerComponent Transaction="Transaction" />
                </div>
            </Content>
        </HxTab>
        @if (Transaction.InboundTransactionPart != null)
        {
            <HxTab Id="inbound" Title="Inbound">
                <Content>
                    <BookedInboundTransactionComponent TransactionId="TransactionId" />
                </Content>
            </HxTab>
        }
        @if (Transaction.OutboundTransactionPart != null)
        {
            <HxTab Id="outbound" Title="Outbound">
                <Content>
                    <BookedOutboundTransactionComponent TransactionId="TransactionId" />
                </Content>
            </HxTab>
        }
        @if (Transaction.RelocationTransactionPart != null)
        {
            <HxTab Id="relocation" Title="Relocation">
                <Content>
                    TODO: Relocation transaction details component
                </Content>
            </HxTab>
        }
    </HxTabPanel>
</div>