@using LogiEdge.WarehouseService.Data.Transactions
@using LogiEdge.WarehouseService.Persistence
@using LogiEdge.WarehouseService.Services.WarehouseManagement
@using LogiEdge.WebUI.Shared.Components
@using LogiEdge.WebUI.Warehouse.Components.Transaction.Inbound
@using LogiEdge.WebUI.Warehouse.Components.Transaction.Outbound
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<WarehouseDbContext> WarehouseDbContextFactory
@inject WarehouseManagementService WarehouseService
@inject IHxMessageBoxService MessageBox
@inject NavigationManager NavigationManager

@code {
    [Parameter]
    public required Guid TransactionId { get; set; }

    [Parameter]
    public EventCallback OnTransactionBooked { get; set; }

    private InventoryTransaction? Transaction { get; set; }

    private DebouncerComponent _debouncer = null!;

    private bool IsAnyInputInvalid { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        await using WarehouseDbContext ctx = await WarehouseDbContextFactory.CreateDbContextAsync();

        Transaction = await ctx.InventoryTransactions
            .Include(t => t.InboundTransactionPart)
            .Include(t => t.OutboundTransactionPart)
            .FirstOrDefaultAsync(t => t.Id == TransactionId);
    }

    private async Task BtnAddInboundItemsOnClick()
    {
        Transaction.InboundTransactionPart = new InboundTransactionPart()
        {
            Transaction = Transaction,
            DraftItems = [],
        };

        await using WarehouseDbContext ctx = await WarehouseDbContextFactory.CreateDbContextAsync();
        ctx.Update(Transaction);
        await ctx.SaveChangesAsync();
    }

    private async Task BtnAddOutboundItemsOnClick()
    {
        Transaction.OutboundTransactionPart = new OutboundTransactionPart()
        {
            Transaction = Transaction,
            DraftSelectedItems = [],
        };

        await using WarehouseDbContext ctx = await WarehouseDbContextFactory.CreateDbContextAsync();
        ctx.Update(Transaction);
        await ctx.SaveChangesAsync();
    }

    private async Task BookTransaction()
    {
        await WarehouseService.BookTransactionAsync(Transaction.Id);
        await OnTransactionBooked.InvokeAsync();
    }

    private async Task DeleteTransaction()
    {
        bool msgBoxResult = 
            await MessageBox.ConfirmAsync("Delete Transaction", "Are you sure you want to permanently delete this transaction? This cannot be reversed!");

        if (!msgBoxResult)
            return;

        await using WarehouseDbContext ctx = await WarehouseDbContextFactory.CreateDbContextAsync();
        InventoryTransaction? dbTransaction = await ctx.InventoryTransactions
            .FirstOrDefaultAsync(t => t.Id == Transaction!.Id);

        if (dbTransaction != null)
        {
            ctx.InventoryTransactions.Remove(dbTransaction);
            await ctx.SaveChangesAsync();
        }

        NavigationManager.NavigateTo(RouteTo<Pages.Warehouse.Transactions.Index>());
    }

    private async Task SaveTitleToDatabaseAsync()
    {
        await using WarehouseDbContext ctx = await WarehouseDbContextFactory.CreateDbContextAsync();

        InventoryTransaction? dbTransaction = await ctx.InventoryTransactions
            .FirstOrDefaultAsync(t => t.Id == Transaction!.Id);

        if (dbTransaction != null)
        {
            dbTransaction.Title = Transaction!.Title;
            await ctx.SaveChangesAsync();
        }
    }
}

@if (Transaction == null)
{
    <p>Transaction with ID @TransactionId could not be found.</p>
    return;
}

@if (Transaction.State != TransactionState.DRAFT)
{
    <p>Transaction is not in DRAFT state.</p>
    return;
}

<div class="header">
    <span class="text-muted">Transaction · Created: <span class="text-dark">@Transaction.CreatedDate</span></span>
    <h3>
        <InputText class="form-control"
                   @bind-Value="Transaction.Title"
                   @oninput="e => _debouncer.Debounce(async Task () => { Transaction!.Title = e.Value?.ToString() ?? string.Empty; await SaveTitleToDatabaseAsync(); })"/>
    </h3>

    <div>
        <HxButton Text="Book Transaction" OnClick="BookTransaction" Color="ThemeColor.Primary" />

        <DebouncerComponent @ref="_debouncer"
                            DelayMilliseconds="1000"
                            style="@(IsAnyInputInvalid ? "display: none;" : "")"
                            class="ms-2"/>
        @if (IsAnyInputInvalid)
        {
            <span class="ms-2">
                <span class="material-symbols-rounded text-danger align-middle">
                    error
                </span>
                <span class="text-danger align-middle">There are invalid inputs. Please correct them before saving.</span>
            </span>
        }
        
        <HxButton Text="Delete Transaction" OnClick="DeleteTransaction" Color="ThemeColor.Danger" CssClass="float-end" />
    </div>
</div>

<div class="content">
    <HxTabPanel Variant="TabPanelVariant.Card">
        <HxTab Title="Overview">
            <Content>
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <div class="card">
                            <div class="card-header">
                                Add Transaction Parts
                            </div>
                            <div class="card-body">
                                @if (Transaction.InboundTransactionPart == null)
                                {
                                    <HxButton Text="Add Inbound Items" 
                                              CssClass="me-2 mb-2" 
                                              OnClick="BtnAddInboundItemsOnClick" 
                                              Color="ThemeColor.Primary" 
                                              Outline="true" />
                                }
                                @if (Transaction.OutboundTransactionPart == null)
                                {
                                    <HxButton Text="Add Outbound Items"
                                              CssClass="me-2 mb-2"
                                              OnClick="BtnAddOutboundItemsOnClick"
                                              Color="ThemeColor.Primary"
                                              Outline="true" />
                                }
                                @if (Transaction.RelocationTransactionPart == null)
                                {
                                    <HxButton Text="Add Relocation Items"
                                              CssClass="me-2 mb-2"
                                              Color="ThemeColor.Primary"
                                              Outline="true" />
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <h5>Documents & Attachments</h5>
                        <DocumentGeneratorComponent TInputType="InventoryTransaction" />
                        <hr />
                        <TransactionFileAttachmentManagerComponent Transaction="Transaction" />
                    </div>
                </div>
            </Content>
        </HxTab>

        @if (Transaction.InboundTransactionPart != null)
        {
            <HxTab Title="Inbound">
                <Content>
                    <DraftInboundTransactionComponent TransactionId="TransactionId"
                                                      Debouncer="_debouncer"
                                                      @bind-IsAnyInputInvalid="IsAnyInputInvalid" />
                </Content>
            </HxTab>
        }

        @if (Transaction.OutboundTransactionPart != null)
        {
            <HxTab Title="Outbound">
                <Content>
                    <DraftOutboundTransactionComponent TransactionId="TransactionId" />
                </Content>
            </HxTab>
        }

        @if (Transaction.RelocationTransactionPart != null)
        {
            <HxTab Title="Relocation">
                <Content>
                    ToDo: Relocation transaction part
                </Content>
            </HxTab>
        }
    </HxTabPanel>
</div>
