@page "/warehouse/transactions/"
@using LogiEdge.CustomerService.Data
@using LogiEdge.WarehouseService.Data
@using LogiEdge.WarehouseService.Data.Transactions
@using LogiEdge.WarehouseService.Persistence
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.Routing

@inject IDbContextFactory<WarehouseDbContext> WarehouseDbContextFactory
@inject NavigationManager NavigationManager

<h3>Transactions</h3>

@code
{
    private List<InventoryTransaction> Transactions { get; set; } = null!;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        await using WarehouseDbContext ctx = await WarehouseDbContextFactory.CreateDbContextAsync();

        Transactions = ctx.InventoryTransactions
            .Include(tr => tr.InboundTransactionPart).ThenInclude(it => it.NewItemStates).ThenInclude(st => st.Item)
            .Include(tr => tr.RelocationTransactionPart).ThenInclude(it => it.NewItemStates).ThenInclude(st => st.Item)
            .Include(tr => tr.OutboundTransactionPart).ThenInclude(it => it.NewItemStates).ThenInclude(st => st.Item)
            .ToList();
    }

    private async Task BtnCreateTransactionOnClick()
    {
        await using WarehouseDbContext ctx = await WarehouseDbContextFactory.CreateDbContextAsync();

        InventoryTransaction transaction = new()
        {
            CreatedDate = DateTime.UtcNow,
            CreatedByUserId = Guid.Empty, // TODO: Pass current user's ID
            HandledByWorker = "",
            AttachmentIds = []
        };

        ctx.InventoryTransactions.Add(transaction);

        await ctx.SaveChangesAsync();
        NavigationManager.NavigateTo($"/warehouse/transactions/{transaction.Id}");
    }
}

<div class="dropdown">
    <button class="btn btn-primary" type="button" @onclick="BtnCreateTransactionOnClick">
        Create Transaction
    </button>
</div>

<div>
    @foreach (InventoryTransaction transaction in Transactions)
    {
        <NavLink href="@($"/warehouse/transactions/{transaction.Id}")">
            <div>
                <span>@transaction.CreatedDate</span>
                <span>Created by @transaction.CreatedByUserId - Handled by @transaction.HandledByWorker</span>

                <table>
                    <tr>
                        <th>Item Number</th>
                        <th>Count</th>
                    </tr>
                </table>
            </div>
        </NavLink>
    }
</div>


