@page "/warehouse/transactions/{TransactionId:guid}"
@using LogiEdge.WarehouseService.Data.Transactions
@using LogiEdge.WarehouseService.Persistence
@using LogiEdge.WarehouseService.Services.WarehouseManagement
@using LogiEdge.WebUI.Shared.Components
@using LogiEdge.WebUI.Warehouse.Components
@using LogiEdge.WebUI.Warehouse.Components.Transaction
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore
@using LogiEdge.WebUI.Warehouse.Components.Transaction.Inbound
@using LogiEdge.WebUI.Warehouse.Components.Transaction.Outbound


@inject WarehouseManagementService WarehouseService
@inject IDbContextFactory<WarehouseDbContext> WarehouseDbContextFactory

@code {
    /// <summary>
    /// The ID of the transaction this page will show
    /// </summary>
    [Parameter]
    public Guid TransactionId { get; set; }

    private InventoryTransaction? Transaction { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        await using WarehouseDbContext ctx = await WarehouseDbContextFactory.CreateDbContextAsync();

        Transaction = await ctx.InventoryTransactions
            .FirstOrDefaultAsync(t => t.Id == TransactionId);
    }
}

@if (Transaction == null)
{
    <p>Transaction with ID @TransactionId could not be found.</p>
    return;
}

@if (Transaction.State == TransactionState.DRAFT)
{
    <DraftTransactionComponent TransactionId="TransactionId" />
}
else if (Transaction.State == TransactionState.BOOKED)
{
    <BookedTransactionComponent TransactionId="TransactionId" />
}
else
{
    <p>Unknown transaction state encountered: @Transaction.State</p>
    return;
}

<DocumentGeneratorComponent TInputType="InventoryTransaction" />

<TransactionFileAttachmentManagerComponent Transaction="Transaction" />