@using LogiEdge.WarehouseService.Data
@using LogiEdge.WarehouseService.Persistence
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.Forms
@inject IDbContextFactory<WarehouseDbContext> DbContextFactory

@code {
    [Parameter]
    public required Guid Value { get; set; }
    [Parameter]
    public EventCallback<Guid> ValueChanged { get; set; }

    private List<Warehouse> _warehouses = [];

    protected override Task OnInitializedAsync()
    {
        using WarehouseDbContext ctx = DbContextFactory.CreateDbContext();
        _warehouses = ctx.Warehouses.ToList();

        return base.OnInitializedAsync();
    }

}

<InputSelect TValue="Guid"
             Value="Value"
             ValueChanged="ValueChanged"
             class="form-select"
             @onclick:stopPropagation="true">
    <option value="@Guid.Empty"> </option>
    @foreach (Warehouse warehouse in _warehouses.OrderBy(w => w.Name.ToUpper()))
    {
        <option value="@warehouse.Id">@warehouse.Name</option>
    }
</InputSelect>