@using LogiEdge.BaseService.Services
@using Microsoft.AspNetCore.Components.Forms
@inject DocumentGenerationService DocumentGenerationService

@typeparam TInputType

@code {
    private List<DocumentGenerationTemplate<TInputType>> Templates { get; set; } = [];

    private Guid ModalSelectedTemplateId { get; set; } = Guid.Empty;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        Templates = DocumentGenerationService.GetTemplates<TInputType>().ToList();
    }
}

<button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#generate-document-modal">Generate Document</button>

<div class="modal fade" id="generate-document-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <InputSelect @bind-Value="ModalSelectedTemplateId" TValue="Guid" size="10">
                    @foreach (DocumentGenerationTemplate<TInputType> template in Templates)
                    {
                        <option value="@template.Id">@template.Name</option>
                    }
                </InputSelect>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Generate Document</button>
            </div>
        </div>
    </div>
</div>