.table-button {
    height: 24px;
    width: 24px;
    padding: 0;
    margin-left: 4px;
}

    .table-button .material-symbols-rounded {
        font-size: 16px;
        line-height: 24px;
    }

td a {
    color: black;
    text-decoration: none;
}

td a:hover {
    color: blue;
    text-decoration: underline;
}