@page "/warehouse/items"
@using System.Linq.Expressions
@using System.Reflection
@using System.Text.Json
@using System.Text.Json.Nodes
@using LogiEdge.CustomerService.Data
@using LogiEdge.Shared.Attributes
@using LogiEdge.Shared.Utility
@using LogiEdge.WarehouseService.Data
@using LogiEdge.WarehouseService.Persistence
@using LogiEdge.WebUI.Warehouse.Components
@using LogiEdge.WebUI.Warehouse.Components.PropertyFilterBadge
@using LogiEdge.WebUI.Warehouse.Components.WarehouseItemTable
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Primitives
@inject IDbContextFactory<WarehouseDbContext> WarehouseDbContextFactory
@inject NavigationManager NavigationManager

<h3>Items by Property</h3>

@code {

    private ItemsTableSortParameters? SortParameters { get; set; }

    private ItemsTableFilterParameters? FilterParameters { get; set; }

    private ItemsTableColumnDisplayParameters? ColumnDisplayParameters { get; set; }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        // get the query parameters
        Uri uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        Dictionary<string, StringValues> queryParameters = QueryHelpers.ParseQuery(uri.Query)
            .Where(x => x.Value.Count > 0)
            .ToDictionary();

        SortParameters = ItemsTableSortParameters.FromQueryParameters(queryParameters);
        ColumnDisplayParameters = ItemsTableColumnDisplayParameters.FromQueryParameters(queryParameters);
        // ItemsTableFilterParameters.FromQueryParameters() needs to run last so other query params have been consumed!!
        // (as this one consumes everything as a wildcard, interpreted as additional item properties)
        FilterParameters = ItemsTableFilterParameters.FromQueryParameters(queryParameters);
    }

    public static string GetPageUrlWithParams(IReadOnlyDictionary<string, StringValues>? queryParams = null)
    {
        const string BASE_PATH = "/warehouse/items";
        if (queryParams == null || !queryParams.Any())
        {
            return BASE_PATH;
        }

        string queryString = string.Join("&", queryParams
            .Where(kvp => kvp.Value.Count > 0)
            .SelectMany(kvp => kvp.Value.Select(val => new KeyValuePair<string, string>(kvp.Key, val)))
            .Select(kvp => $"{Uri.EscapeDataString(kvp.Key)}={Uri.EscapeDataString(kvp.Value)}"));

        return $"{BASE_PATH}?{queryString}";
    }

    private void UpdateUrl()
    {
        // get the old query parameters
        Uri uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        Dictionary<string, StringValues> queryParameters = QueryHelpers.ParseQuery(uri.Query)
            .Where(x => x.Value.Count > 0)
            .ToDictionary();

        Dictionary<string, StringValues> newQueryParameters = [];
        bool changed = false;

        // for each parameters object, check if our url parameters differ from the current ones, and update them if so
        ItemsTableFilterParameters urlFilterParameters = ItemsTableFilterParameters.FromQueryParameters(queryParameters);
        if (!urlFilterParameters.Equals(FilterParameters) && FilterParameters != null)
        {
            AddToNewQueryParameters(FilterParameters.ToQueryParameters());
            changed = true;
        }
        ItemsTableSortParameters urlSortParameters = ItemsTableSortParameters.FromQueryParameters(queryParameters);
        if (!urlSortParameters.Equals(SortParameters) && SortParameters != null)
        {
            AddToNewQueryParameters(SortParameters.ToQueryParameters());
            changed = true;
        }
        ItemsTableColumnDisplayParameters urlColumnDisplayParameters = ItemsTableColumnDisplayParameters.FromQueryParameters(queryParameters);
        if (!urlColumnDisplayParameters.Equals(ColumnDisplayParameters) && ColumnDisplayParameters != null)
        {
            AddToNewQueryParameters(ColumnDisplayParameters.ToQueryParameters());
            changed = true;
        }

        string newUrl = GetPageUrlWithParams(newQueryParameters);

        if (changed)
        {
            NavigationManager.NavigateTo(newUrl, forceLoad: true);
        }

        return;

        void AddToNewQueryParameters(Dictionary<string, StringValues> parameters)
        {
            foreach (KeyValuePair<string, StringValues> kvp in parameters)
            {
                newQueryParameters[kvp.Key] = kvp.Value;
            }
        }
    }

    private async Task OnColumnDisplayParametersChanged(ItemsTableColumnDisplayParameters columnDisplayParams)
    {
        ColumnDisplayParameters = columnDisplayParams;
        UpdateUrl();
    }

    private async Task OnFilterParametersChanged(ItemsTableFilterParameters filterParams)
    {
        FilterParameters = filterParams;
        UpdateUrl();
    }

    private async Task OnSortParametersChanged(ItemsTableSortParameters sortParams)
    {
        SortParameters = sortParams;
        UpdateUrl();
    }
}

<div class="my-1">
    <span>Show Warehouse at Point in Time:</span>
    <InputDate TValue="DateTime?"
               Type="InputDateType.DateTimeLocal"
               Value="FilterParameters.AtTime"
               ValueChanged="(DateTime? dt) => FilterParameters = FilterParameters with { AtTime = dt }"
               ValueExpression="() => FilterParameters.AtTime" />
</div>

@if (true)
{
    Action<(string propertyName, object? propertyValue)> onPropertyValueClick =
        ((string propertyName, object? propertyValue) e) =>
    {
        switch (e.propertyName)
        {
            case nameof(Item.Id):
                NavigationManager.NavigateTo($"/item/{e.propertyValue}");
                break;
            case nameof(Item.Customer):
                Customer c = (Customer)e.propertyValue;
                //AddOrUpdateQueryParamAndNavigate("Customer", c.Id.ToString());
                break;
            case nameof(ItemState.Warehouse):
                Warehouse w = (Warehouse)e.propertyValue;
                //AddOrUpdateQueryParamAndNavigate("Warehouse", w.Id.ToString());
                break;
            default:
                //AddOrUpdateQueryParamAndNavigate(e.propertyName, e.propertyValue?.ToString() ?? "");
                break;
        }

    };

    <WarehouseItemTableComponent 
        ColumnDisplayParameters="ColumnDisplayParameters"
        ColumnDisplayParametersChanged="OnColumnDisplayParametersChanged"
        FilterParameters="FilterParameters"
        FilterParametersChanged="OnFilterParametersChanged"
        SortParameters="SortParameters"
        SortParametersChanged="OnSortParametersChanged"/>
}