@page "/warehouse/create"

@using LogiEdge.WarehouseService.Services
@using LogiEdge.CustomerService.Data
@using LogiEdge.CustomerService.Services
@using LogiEdge.WarehouseService.Data
@using LogiEdge.WarehouseService.Persistence
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<WarehouseDbContext> WarehouseDbContextFactory;
@inject CustomerManagementService CustomerService;

@code {
    private string warehouseName = string.Empty;
    private List<string> additionalProperties = new();
    private List<string> additionalPropertiesTypes = new();

    private string feedback = string.Empty;

    private void CreateNewWarehouse()
    {
        WarehouseDbContext warehouseDb = WarehouseDbContextFactory.CreateDbContext();

        if(string.IsNullOrEmpty(warehouseName))
        {
            feedback = "A name must be set for the warehouse!";
            return;
        }

        if(additionalProperties.Any(x => string.IsNullOrEmpty(x)))
        {
            feedback = "Cannot create a customer which has an empty additional property!";
            return;
        }

        if(additionalPropertiesTypes.Any(x => string.IsNullOrEmpty(x)))
        {
            feedback = "A property type must be set for all additional properties!";
            return;
        }


        Warehouse newWarehouse = new Warehouse()
        {
            Name = warehouseName,
            AdditionalProperties = additionalProperties,
            AdditionalPropertiesTypes = additionalPropertiesTypes
        };
        newWarehouse = warehouseDb.Warehouses.Add(newWarehouse).Entity;
    }
}

<h3>Create New Warehouse</h3>

<label>Warehouse Name:</label>
<InputText @bind-Value="warehouseName"></InputText>
<br />

<table>
    <tr>
        <th>Property Name</th>
        <th>Property Type</th>
    </tr>

    @for (int i = 0; i < additionalProperties.Count; i++)
    {
        int index = i;
        <tr>
            <td><InputText @bind-Value="additionalProperties[index]"></InputText></td>
            <td><InputText @bind-Value="additionalPropertiesTypes[index]"></InputText></td>
        </tr>
    }
</table>
<button @onclick="() => { additionalProperties.Add(string.Empty); additionalPropertiesTypes.Add(string.Empty); }">Add Additional Property</button>
<p style="color:red;">@feedback</p>
<br />
<button @onclick="CreateNewWarehouse">Create Warehouse</button>