@page "/warehouse"
@using LogiEdge.CustomerService.Data;
@using LogiEdge.CustomerService.Services;
@using LogiEdge.WarehouseService.Data
@using LogiEdge.WarehouseService.Persistence
@using LogiEdge.WarehouseService.Services;
@using Microsoft.EntityFrameworkCore

@inject CustomerManagementService CustomerService;
@inject IDbContextFactory<WarehouseDbContext> WarehouseDbContextFactory;

<h3>Warehouse Overview</h3>

@{
    WarehouseDbContext warehouseDb = WarehouseDbContextFactory.CreateDbContext();
}

<ul>
    @foreach (Warehouse warehouse in warehouseDb.Warehouses)
    {
        <li><a href="/warehouse/@warehouse.Id">@warehouse.Name <i>[@warehouse.Id]</i></a></li>
    }
</ul>