@using LogiEdge.WebUI.Shared.Components
@using Microsoft.AspNetCore.Components.Forms
@code {
    [Parameter]
    public required OrderedDictionary<string, bool> ColumnsToDisplay { get; set; }
    [Parameter]
    public EventCallback<OrderedDictionary<string, bool>> ColumnsToDisplayChanged { get; set; }
    [Parameter]
    public required List<string> AllowedColumns { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    private OrderedDictionary<string, bool> _modalPropertyColumns = [];
    private readonly List<DraggableList<string>.ListItem> _propertyListItems = [];

    private HxModal _modal = null!;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        _modalPropertyColumns = new OrderedDictionary<string, bool>(ColumnsToDisplay);
    }

    private async Task HandleModalHiding()
    {
        OrderedDictionary<string, bool> properties = new((_modalPropertyColumns ?? [])
            .OrderBy(x => _propertyListItems.First(y => y.BackingElement == x.Key).Order).ToList());

        ColumnsToDisplay = properties;
        await ColumnsToDisplayChanged.InvokeAsync(ColumnsToDisplay);
    }

    private async Task HandleShowModalClick()
    {
        await _modal.ShowAsync();
    }
}

<button type="button"
        @attributes="AdditionalAttributes"
        style="float: right;"
        @onclick="HandleShowModalClick">
    <span class="material-symbols-rounded">
        splitscreen_vertical_add
    </span>
</button>

<HxModal @ref="_modal" Title="Table Columns" OnHiding="HandleModalHiding">
    <BodyTemplate>
        <div style="font-weight: initial;">
            <p style="width: 100%; text-align: center;">Select columns to display in the table. Drag the handles to change column order.</p>
            <div id="modal-property-list" class="rounded border">
                @{
                    RenderFragment<string> listItemFragment = item => @<span>
                                                                          <InputCheckbox @bind-Value="_modalPropertyColumns[item]" />
                                                                          <label>@item</label>
                                                                      </span>;
                    _propertyListItems.Clear();
                    foreach (string propertyName in ColumnsToDisplay.Keys)
                    {
                        _propertyListItems.Add(new DraggableList<string>.ListItem
                        {
                            Order = ColumnsToDisplay.Keys.ToList().IndexOf(propertyName),
                            ListElement = listItemFragment,
                            BackingElement = propertyName
                        });
                    }
                }

                <DraggableList TItem="string" Items="_propertyListItems" Style="list-style-type: none;"></DraggableList>
            </div>
        </div>
    </BodyTemplate>
</HxModal>
