@page "/warehouse/{WarehouseId}/items-by-itemnumber/{ItemNumber}"
@using LogiEdge.WarehouseService.Data
@using LogiEdge.WarehouseService.Persistence
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<WarehouseDbContext> WarehouseDbContextFactory

<h3>Items by Item Number</h3>

@code {
    [Parameter]
    public required string WarehouseId { get; set; }
    [Parameter]
    public required string ItemNumber { get; set; }
}

@{
    WarehouseDbContext warehouseDb = WarehouseDbContextFactory.CreateDbContext();
    Warehouse? warehouse = warehouseDb.Warehouses
        .Include(w => w.Items.Where(it => it.ItemNumber == ItemNumber))
        .ThenInclude(i => i.ItemStates)
        .FirstOrDefault(x => x.Id == Guid.Parse(WarehouseId));

    if (warehouse == null)
    {
        <p>Warehouse with ID @WarehouseId not found.</p>
        return;
    }
}

<div style="display: flex; flex-wrap: wrap;">
@foreach (Item item in warehouse.Items)
{
    <div style="border-style: solid; margin: 8px; padding: 8px; flex: 0 0 0px; min-width: 350px;">
        <h4>@item.ItemNumber</h4>
        <h5>States:</h5>
        <ul>
            @foreach (ItemState state in item.ItemStates.OrderBy(state => state.Date))
            {
                <li>@state.Date - @state.Location</li>
            }
        </ul>
    </div>
}
</div>