@page "/warehouse/{WarehouseId}/items-by-itemnumber/{ItemNumber}"
@using LogiEdge.WarehouseService.Data
@using LogiEdge.WarehouseService.Persistence
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<WarehouseDbContext> WarehouseDbContextFactory

<h3>Items by Item Number</h3>

@code {
    [Parameter]
    public required string WarehouseId { get; set; }
    [Parameter]
    public required string ItemNumber { get; set; }
}

@{
    WarehouseDbContext warehouseDb = WarehouseDbContextFactory.CreateDbContext();
    Warehouse? warehouse = warehouseDb.Warehouses
        .Include(w => w.Items.Where(it => it.ItemNumber == ItemNumber))
        .ThenInclude(i => i.ItemStates.OrderByDescending(x => x.Date).Take(1))
        .FirstOrDefault(x => x.Id == Guid.Parse(WarehouseId));

    if (warehouse == null)
    {
        <p>Warehouse with ID @WarehouseId not found.</p>
        return;
    }
}

<WarehouseItemTableComponent Items="@warehouse.Items"></WarehouseItemTableComponent>