@page "/warehouse/{WarehouseId}/items-by-property"
@using System.Text.Json
@using System.Text.Json.Nodes
@using LogiEdge.Shared.Utility
@using LogiEdge.WarehouseService.Data
@using LogiEdge.WarehouseService.Persistence
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<WarehouseDbContext> WarehouseDbContextFactory
@inject NavigationManager NavigationManager

<h3>Items by Property</h3>

@code {
    [Parameter]
    public required string WarehouseId { get; set; }
    [Parameter]
    public required string PropertyName { get; set; }
    [Parameter]
    public required string PropertyValue { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        NavigationManager.LocationChanged += (sender, args) => StateHasChanged();
    }

    private static readonly List<string> baseProperties = [nameof(Item.ItemNumber), nameof(Item.Comments)];
}

@{
    // get the query parameters
    Uri uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
    // we only allow each param to be specified once, so pick the first value
    Dictionary<string, string> queryParameters = QueryHelpers.ParseQuery(uri.Query)
        .Where(x => x.Value.Count > 0)
        .ToDictionary(x => x.Key, x => x.Value.First())!;

    WarehouseDbContext warehouseDb = WarehouseDbContextFactory.CreateDbContext();

    // parse url params which are not additional properties but "base properties" we store directly
    // as a DB column instead of as JSON
    Dictionary<string, string> baseParams = queryParameters
        .PopWhere(param => baseProperties.Contains(param.Key))
        .ToDictionary();


    // create a json document which contains the properties we want to filter for
    JsonObject jsonFilter = new();
    foreach (KeyValuePair<string, string> queryParam in queryParameters)
    {
        jsonFilter[queryParam.Key] = queryParam.Value;
    }
    JsonDocument jsonFilterDoc = jsonFilter.Deserialize<JsonDocument>()!;

    // get items for which the additional properties contain the specified filter json properties
    Warehouse? warehouse = warehouseDb.Warehouses
        .Include(w => w.Items
            .Where(it => !baseParams.ContainsKey(nameof(Item.ItemNumber)) || it.ItemNumber == baseParams[nameof(Item.ItemNumber)])
            .Where(it => !baseParams.ContainsKey(nameof(Item.Comments)) || it.Comments == baseParams[nameof(Item.Comments)])
            .Where(it => queryParameters.Count == 0 || EF.Functions.JsonContains(it.AdditionalProperties, jsonFilterDoc)))
        .ThenInclude(it => it.ItemStates)
        .FirstOrDefault(x => x.Id == Guid.Parse(WarehouseId));

    if (warehouse == null)
    {
        <p>Warehouse with ID @WarehouseId not found.</p>
        return;
    }
}

<h3>Warehouse <i>@warehouse.Name</i></h3>

<WarehouseItemTableComponent Items="@warehouse.Items"></WarehouseItemTableComponent>