@page "/customers/create"
@using LogiEdge.CustomerService.Data;
@using LogiEdge.CustomerService.Services;
@using Microsoft.AspNetCore.Components.Forms
@using System.Text.RegularExpressions;

@inject CustomerManagementService CustomerService;
@inject NavigationManager NavManager;

@code {
    private string? customerName;
    private string? customerAbbreviation;

    private string feedback = string.Empty;

    private void CreateNewCustomer()
    {
        if (customerName == null || customerAbbreviation == null)
        {
            feedback = "Customer needs to have both an abbreviation and a name!";
            return;
        }

        if (Regex.IsMatch(customerAbbreviation, @"^[A-Z]+$"))
        {
            feedback = "Abbreviation must only contain uppercase letters!";
            return;
        }

        if(CustomerService.GetCustomerByAbbreviation(customerAbbreviation) != null) {
            feedback = "A customer with the specified abbreviation already exists! Abbreviations must be unique!";
            return;
        }

        CustomerService.CreateCustomer(new Customer()
        {
            Abbreviation = customerAbbreviation,
            Name = customerName
        });

        feedback = "New customer created successfully!";
        NavManager.NavigateTo("/customers");
    }
}

<h3>CreateCustomer</h3>

<label>Customer Name:</label>
<InputText @bind-Value="customerName"></InputText>
<br />
<label>Customer Abbreviation:</label>
<InputText @bind-Value="customerAbbreviation"></InputText>
<br />

<button @onclick="CreateNewCustomer">Create</button>
<button href="/customer">Cancel</button>

<p style="color:red;">@feedback</p>
