@using LogiEdge.CustomerService.Data
@using LogiEdge.WarehouseService.Data
@using LogiEdge.WarehouseService.Data.Transactions
@using LogiEdge.WarehouseService.Persistence
@using LogiEdge.WebUI.Warehouse.Components.WarehouseItemTable
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<WarehouseDbContext> WarehouseContextFactory

@code {
    [Parameter]
    public Guid TransactionId { get; set; }

    private OutboundTransaction Transaction { get; set; } = null!;

    private ItemsTableColumnDisplayParameters _transactionColumnDisplayParameters = ItemsTableColumnDisplayParameters.FromQueryParameters([]);
    private ItemsTableFilterParameters _transactionFilterParameters = ItemsTableFilterParameters.FromQueryParameters([]);
    private ItemsTableSortParameters _transactionSortParameters = ItemsTableSortParameters.FromQueryParameters([]);

    private ItemsTableColumnDisplayParameters _selectionModalColumnDisplayParameters = ItemsTableColumnDisplayParameters.FromQueryParameters([]);
    private ItemsTableFilterParameters _selectionModalFilterParameters = ItemsTableFilterParameters.FromQueryParameters([]);
    private ItemsTableSortParameters _selectionModalSortParameters = ItemsTableSortParameters.FromQueryParameters([]);

    private HxModal _itemSelectionModal = null!;

    private List<Guid> _modalSelectedItemIds = [];

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        TransactionId = parameters.GetValueOrDefault<Guid>("TransactionId");

        Transaction = await GetTransaction(TransactionId);

        await base.SetParametersAsync(parameters);
    }

    private async Task<OutboundTransaction> GetTransaction(Guid transactionId)
    {
        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();

        OutboundTransaction? transaction = ctx.OutboundTransactions
            .Include(t => t.DraftSelectedItems)
            .FirstOrDefault(t => t.Id == TransactionId);

        if (transaction == null)
            throw new InvalidOperationException($"Transaction {transactionId} not found!");

        if (transaction.State != TransactionState.DRAFT)
            throw new InvalidOperationException($"Transaction {transactionId} is not in a DRAFT state!");

        return transaction;
    }

    private async Task ShowItemSelectionModal()
    {
        _modalSelectedItemIds = [];
        await _itemSelectionModal.ShowAsync();
    }

    private async Task BtnItemSelectionModalOkOnClick()
    {
        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();
        ctx.OutboundTransactions.Attach(Transaction);

        List<Item> itemsToAdd = ctx.Items.Where(it => _modalSelectedItemIds.Contains(it.Id)).ToList();

        Transaction.DraftSelectedItems!.AddRange(itemsToAdd);

        _modalSelectedItemIds = [];

        await ctx.SaveChangesAsync();

        Transaction = await GetTransaction(TransactionId);

        await _itemSelectionModal.HideAsync();
    }

    private async Task BtnDeleteItemFromTransactionOnClick(Guid itemId)
    {
        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();
        ctx.OutboundTransactions.Attach(Transaction);

        Transaction.DraftSelectedItems!.RemoveAll(it => it.Id == itemId);

        await ctx.SaveChangesAsync();

        Transaction = await GetTransaction(TransactionId);
    }
}

<h4>Chosen Items</h4>

<button type="button" class="btn btn-filter btn-primary" @onclick="ShowItemSelectionModal">
    <span class="material-symbols-rounded">
        add_box
    </span>
    Add Item
</button>

<WarehouseItemTableComponent ItemsQueryableFactory="ctx => ctx.Items.Where(it => Transaction.DraftSelectedItems!.Select(di => di.Id).Contains(it.Id))"
                             @bind-ColumnDisplayParameters="_transactionColumnDisplayParameters"
                             @bind-FilterParameters="_transactionFilterParameters"
                             @bind-SortParameters="_transactionSortParameters">
    <TableRowRenderFragment>
        <tr>
            @for (int i = 0; i < context.properties.Count; i++)
            {
                (string propertyName, object? propertyValue) = context.properties.GetAt(i);

                <td>
                    @if (i == 0)
                    {
                        <HxButton Color="ThemeColor.Danger" 
                                  Size="ButtonSize.Small" 
                                  Icon="BootstrapIcon.Trash"
                                  Tooltip="Remove this item from the transaction."
                                  CssClass="me-2"
                                  OnClick="() => BtnDeleteItemFromTransactionOnClick(context.item.Id)" />
                    }

                    @switch (propertyName)
                    {
                        case nameof(Item.Id):
                            <a href="/warehouse/item/@context.item.Id">
                                <PropertyValueComponent PropertyValue="@propertyValue"/>
                            </a>
                            break;
                        case nameof(Item.Customer):
                            Customer c = (Customer)propertyValue;
                            <a href="javascript:void(0);"
                               @onclick="() => _transactionFilterParameters = _transactionFilterParameters.WithParameter(nameof(Item.Customer), c.Id)">
                                <PropertyValueComponent PropertyValue="@propertyValue"/>
                            </a>
                            break;
                        case nameof(ItemState.Warehouse):
                            Warehouse w = (Warehouse)propertyValue;
                            <a href="javascript:void(0);"
                               @onclick="() => _transactionFilterParameters = _transactionFilterParameters.WithParameter(nameof(ItemState.Warehouse), w.Id)">
                                <PropertyValueComponent PropertyValue="@propertyValue"/>
                            </a>
                            break;
                        default:
                            <a href="javascript:void(0);"
                               @onclick="() => _transactionFilterParameters = _transactionFilterParameters.WithParameter(propertyName, propertyValue.ToString())">
                                <PropertyValueComponent PropertyValue="@propertyValue"/>
                            </a>
                            break;
                    }
                </td>
            }
        </tr>
    </TableRowRenderFragment>
</WarehouseItemTableComponent>

@if (Transaction.DraftPlaceholderItems is { Count: > 0 })
{
    <h4>Items to be Selected</h4>
    <ul>
        @foreach (Dictionary<string, string> item in Transaction.DraftPlaceholderItems)
        {
            <li>
                <button type="button" class="btn-filter btn-sm btn-success">
                    <span class="material-symbols-rounded">
                        ink_selection
                    </span>
                </button>

                @foreach ((string propertyName, string propertyValue) in item)
                {
                    <span>
                        @propertyName
                        <text>=</text>
                        @propertyValue
                    </span>
                }
            </li>
        }
    </ul>
}

<HxModal @ref="_itemSelectionModal" 
         Size="ModalSize.ExtraLarge"
         Scrollable="true"
         Title="Select an Item to Add to the Transaction">
    <BodyTemplate>
        @{
            List<Guid> selectedItemsIds = Transaction.DraftSelectedItems!.Select(it => it.Id).ToList();
        }
        <WarehouseItemSelectionTableComponent ItemsQueryableFactory="ctx => ctx.Items.Where(it => !selectedItemsIds.Contains(it.Id))"
                                              @bind-SelectedItemIds="_modalSelectedItemIds"
                                              @bind-ColumnDisplayParameters="_selectionModalColumnDisplayParameters"
                                              @bind-FilterParameters="_selectionModalFilterParameters"
                                              @bind-SortParameters="_selectionModalSortParameters"/>
    </BodyTemplate>
    <FooterTemplate>
        <HxButton Text="Ok" @onclick="BtnItemSelectionModalOkOnClick" Color="ThemeColor.Primary" />
        <HxButton Text="Cancel" Color="ThemeColor.Secondary" />
    </FooterTemplate>
</HxModal>