@using LogiEdge.WarehouseService.Data.Transactions
@using LogiEdge.WarehouseService.Persistence
@using Microsoft.EntityFrameworkCore

@inject IDbContextFactory<WarehouseDbContext> WarehouseContextFactory

<h3>DraftOutboundTransactionComponent</h3>

@code {
    [Parameter]
    public Guid TransactionId { get; set; }

    private OutboundTransaction? Transaction { get; set; }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        TransactionId = parameters.GetValueOrDefault<Guid>("TransactionId");

        await using WarehouseDbContext ctx = await WarehouseContextFactory.CreateDbContextAsync();

        Transaction = ctx.OutboundTransactions
            .FirstOrDefault(t => t.Id == TransactionId);

        await base.SetParametersAsync(parameters);
    }
}
