@page "/warehouse/transactions/inbound"
@using LogiEdge.BaseService.Data
@using LogiEdge.WarehouseService.Data.Transactions
@using LogiEdge.WarehouseService.Persistence
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<WarehouseDbContext> WarehouseDbContextFactory

@code {
    private void BtnCreateInboundTransactionOnClick()
    {
        WarehouseDbContext ctx = WarehouseDbContextFactory.CreateDbContext();

        ctx.InboundTransactions.Add(new InboundTransaction()
            {
                Date = DateTime.UtcNow,
                CreatedByUserId = Guid.Empty, // TODO: Pass current user's ID
                HandledByWorker = "",
                AttachmentIds = []
            });

        ctx.SaveChanges();
    }

    private void BtnCreateOutboundTransactionOnClick()
    {
        WarehouseDbContext ctx = WarehouseDbContextFactory.CreateDbContext();

        ctx.OutboundTransactions.Add(new OutboundTransaction()
            {
                Date = DateTime.UtcNow,
                CreatedByUserId = Guid.Empty, // TODO: Pass current user's ID
                HandledByWorker = "",
                AttachmentIds = []
            });

        ctx.SaveChanges();
    }

    private void BtnCreateRelocationTransactionOnClick()
    {
        WarehouseDbContext ctx = WarehouseDbContextFactory.CreateDbContext();

        ctx.RelocationTransactions.Add(new RelocationTransaction()
            {
                Date = DateTime.UtcNow,
                CreatedByUserId = Guid.Empty, // TODO: Pass current user's ID
                HandledByWorker = "",
                AttachmentIds = []
            });

        ctx.SaveChanges();
    }
}

@{
    WarehouseDbContext ctx = WarehouseDbContextFactory.CreateDbContext();
}

<button @onclick="BtnCreateInboundTransactionOnClick">Create Inbound Transaction</button>
<button @onclick="BtnCreateOutboundTransactionOnClick">Create Outbound Transaction</button>
<button @onclick="BtnCreateRelocationTransactionOnClick">Create Relocation Transaction</button>

<h3>Inbound Transactions</h3>
@foreach (InboundTransaction transaction in ctx.InboundTransactions)
{
    <li><a href="@($"/warehouse/transactions/inbound/{transaction.Id}")">@transaction.Id</a></li>
}
