.badge {
    border-style: solid;
    border-width: 1px;
    border-color: var(--bs-indigo);
    color: var(--bs-gray-800);
    cursor: pointer;
    line-height: 2.25em;
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    font-weight: lighter;
    margin: 4px;
}

    .badge.checked {
        color: var(--bs-gray-900);
        border: none;
        background: #ded5f2;
        background: linear-gradient(135deg,rgba(222, 213, 242, 1) 0%, rgba(157, 142, 230, 1) 70%);
    }