@using System.Text.Json
@using LogiEdge.WarehouseService.Data
@code {
    [Parameter]
    public required IList<IGrouping<object, Item>> ItemGroups { get; set; }
    [Parameter]
    public required string GroupByPropertyName { get; set; }
}

<span>Showing @ItemGroups.Count item groups.</span>
<table class="table table-striped table-hover">
    <thead class="table-primary">
    <tr>
        <th>@GroupByPropertyName</th>
        <th>Item Count</th>
    </tr>
    </thead>
    <tbody>
    @foreach (IGrouping<object, Item> grouping in ItemGroups)
    {
        <tr>
            <td><a href="/items?@(GroupByPropertyName)=@(grouping.Key.ToString())">@(grouping.Key.ToString())</a></td>
            <td>@(grouping.Count())</td>
        </tr>
    }
    </tbody>
</table>