@page "/Settings"
@using Microsoft.EntityFrameworkCore
@using LogiEdge.BaseService.Services
@inject SettingsService SettingsService;

@code {
    private string NewKeyName { get; set; } = "";

    private async Task AddNewKeyAsync()
    {
        if (!string.IsNullOrEmpty(NewKeyName))
        {
            await SettingsService.SetSettingAsync(NewKeyName, "");
            NewKeyName = "";
            
            OriginalSettings = new(await SettingsService.GetAllSettingsAsync());
            EditSettings = new(OriginalSettings);
        }
    }

    private Dictionary<string, string>? OriginalSettings { get; set; }
    private Dictionary<string, string>? EditSettings { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        OriginalSettings = new(await SettingsService.GetAllSettingsAsync());
        EditSettings = new(OriginalSettings);
    }



    private async Task SaveSettingsAsync()
    {
        foreach ((string key, string value) in EditSettings!.Where(es => OriginalSettings!.GetValueOrDefault(es.Key) != es.Value))
        {
            await SettingsService.SetSettingAsync(key, value);
        }
    }
}

<h3>Settings</h3>

@if (EditSettings == null)
{
    <p>Loading settings...</p>
} 
else
{
    <table>
        <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        @foreach (string key in EditSettings!.Keys)
        {
            <tr>
                <td>@key</td>
                <td><InputText @bind-Value="EditSettings[key]" @onblur="SaveSettingsAsync"></InputText></td>
            </tr>
        }
        </tbody>
    </table>
}

<InputText @bind-Value="NewKeyName"></InputText>
<button @onclick="AddNewKeyAsync">Add New Key</button>
