@page "/Settings"
@using Microsoft.EntityFrameworkCore
@using LogiEdge.BaseService.Services
@inject SettingsService SettingsService;

@code {
    private string NewKeyName { get; set; } = "";

    private void AddNewKey()
    {
        if (!string.IsNullOrEmpty(NewKeyName))
        {
            SettingsService.SetSetting(NewKeyName, "");
            NewKeyName = "";
        }
    }

    private Dictionary<string, string>? OriginalSettings { get; set; }
    private Dictionary<string, string>? EditSettings { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        OriginalSettings = new(SettingsService.GetAllSettings());
        EditSettings = new(OriginalSettings);
    }

    private void SaveSettings()
    {
        foreach ((string key, string value) in EditSettings!.Where(es => OriginalSettings!.GetValueOrDefault(es.Key) != es.Value))
        {
            SettingsService.SetSetting(key, value);
        }
    }
}

<h3>Settings</h3>

<table>
    <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
        @foreach (string key in EditSettings!.Keys)
        {
            <tr>
                <td>@key</td>
                <td><InputText @bind-Value="EditSettings[key]" @onblur="SaveSettings"></InputText></td>
            </tr>
        }
    </tbody>
</table>

<InputText @bind-Value="NewKeyName"></InputText>
<button @onclick="AddNewKey">Add New Key</button>
