.btn-filter-done {
    cursor: pointer;
    font-size: 1.5em;
    color: var(--bs-green);
    border-radius: 50%;
    margin-left: 4px;
    filter: grayscale(40%);
}

    .btn-filter-done:hover {
        background-color: var(--bs-gray-500);
        filter: grayscale(0%);
    }
